@charset "ISO-8859-1";
:root {
    --sogyo-groen: #007936;
    --sogyo-lichtgroen: #479C5E;
    --background: whitesmoke;
    --sogyo-grijs: #6A6A6A;
    --sogyo-lichtgrijs: #CDCDCD;
    --sogyo-rood: #CD241E;
    --sogyo-lichtrood: #DEADBEEF;
}

body {
    background-color: var(--sogyo-lichtgroen);
    font-family: sans-serif;
    /*cursor: none;*/
}

.page {
    width: 95%;
    background-color:  var(--background);
    margin: 10px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8,60px);
  justify-content: center;
  grid-gap: 20px;
  background-color: var(--sogyo-lichtgroen);
  padding: 10px; 
}
.grid-container > div {
  text-align: center;
  font-size: 30px;
  height: 65px;
  width: 65px;

}

#kalaha{
	grid-row: span 2;
	height: 100%;
}

input[type=submit] {
  background-color: var(--sogyo-grijs);
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  height: 100%;
  width: 100%;
}

h1{
	text-align: center;
}
	
}
